<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rjm.romek.facegame"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/globe128"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <activity
            android:name=".ui.activity.StartupLoadingScreen"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GameLoadingScreen"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activity.Game"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activity.MainMenu"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activity.EndGame"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activity.TopScore"
            android:label="@string/title_activity_top_score" >
        </activity>
        <activity
            android:name=".ui.activity.Collectable"
            android:label="@string/title_activity_collectables" >
        </activity>
        <activity
            android:name=".ui.activity.About"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
